@model MatchScoreModel

@{
    var numFinishedSets = Model.FirstPlayerScores.FinishedSets.Count;
}

<table>    
    <thead>
        <tr>
            <th>Player</th>
            @if (!@Model.IsMatchFinished) {
                <th>Game</th>
            }
            @for (int i = 1; i <= numFinishedSets; i++) {
                <th>Set @i</th>
            }
            @if (!@Model.IsMatchFinished) {
                <th>Set @(numFinishedSets + 1)</th>
            }
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Match.FirstPlayer.Name</td>
            @if (!@Model.IsMatchFinished) {
                <td>@Model.FirstPlayerScores.PointsInCurrentGame</td>
            }
            @foreach (var finishedSet in Model.FirstPlayerScores.FinishedSets) {
                <td>@finishedSet</td>
            }
            @if (!@Model.IsMatchFinished) {
                <td>@Model.FirstPlayerScores.GamesInCurrentSet</td>
            }
        </tr>
        <tr>
            <td>@Model.Match.SecondPlayer.Name</td>
            @if (!@Model.IsMatchFinished) {
                <td>@Model.SecondPlayerScores.PointsInCurrentGame</td>
            }
            @foreach (var finishedSet in Model.SecondPlayerScores.FinishedSets) {
                <td>@finishedSet</td>
            }
            @if (!@Model.IsMatchFinished) {
                <td>@Model.SecondPlayerScores.GamesInCurrentSet</td>
            }
        </tr>
    </tbody>
</table>


@if (Model.IsMatchFinished) {
    <div>
        <h2>Match is finished</h2>
        <h3>Winner: @(Model.Match.WinnerId == Model.Match.FirstPlayerId
            ? Model.Match.FirstPlayer.Name
            : Model.Match.SecondPlayer.Name)</h3>
    </div>
} else {
    <div>
        <form method="post" asp-controller="MatchScore" asp-action="UpdateMatchScore" asp-route-uuid="@ViewContext.HttpContext.Request.Query["uuid"]">
            <button type="submit" name="winnerId" value=@Model.Match.FirstPlayerId>Player 1 wins a point</button>
        </form>

        <form method="post" asp-controller="MatchScore" asp-action="UpdateMatchScore" asp-route-uuid="@ViewContext.HttpContext.Request.Query["uuid"]">
            <button type="submit" name="winnerId" value=@Model.Match.SecondPlayerId>Player 2 wins a point</button>
        </form>
    </div>
}