@model MatchScoreViewModel

@{
    ViewData["Title"] = "Match Score";
    await Html.RenderPartialAsync("ScoreTable"); 
}

<div class="match-score">
    @if (Model.MatchScore.IsMatchFinished)
    {
        <div class="finished-match-text-container">
            <div class="finished-match-main-text">Match is finished!</div>
            <div class="finished-match-support-text">Winner is <b>@Model.WinnerName</b></div>
        </div>  
    }
    else
    {
        <div class="match-scoring-menu">
            <div class="match-scoring-title">Who won point?</div>
            <form method="post" asp-action="UpdateMatchScore" asp-route-uuid=@Model.Uuid class="match-scoring-form">
                <button type="submit" name="winnerId" value="@Model.MatchScore.FirstPlayer.Id" class="submit-button first-player">
                    @Model.MatchScore.FirstPlayer.Name
                </button>
                <button type="submit" name="winnerId" value="@Model.MatchScore.SecondPlayer.Id" class="submit-button second-player">
                    @Model.MatchScore.SecondPlayer.Name
                </button>
            </form>
        </div>
    }
</div>
