@model MatchScoreViewModel

@{
    int setsCount = Model.MatchScore.FirstPlayerScores.Sets.Count;
}

<table>    
    <thead>
        <tr>
            <th>Player</th>
            <th>Game</th>
            @for (int set = 1; set <= setsCount; set++)
            {
                <th>Set @set</th>
            }
            <th>Set @(setsCount + 1)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.MatchScore.Match.FirstPlayer.Name</td>
            <td>@Model.MatchScore.FirstPlayerScores.PointsAsString</td>
            @foreach (int set in Model.MatchScore.FirstPlayerScores.Sets)
            {
                <td>@set</td>
            }
            <td>@Model.MatchScore.FirstPlayerScores.Games</td>
        </tr>
        <tr>
            <td>@Model.MatchScore.Match.SecondPlayer.Name</td>
            <td>@Model.MatchScore.SecondPlayerScores.PointsAsString</td>
            @foreach (int set in Model.MatchScore.SecondPlayerScores.Sets)
            {
                <td>@set</td>
            }
            <td>@Model.MatchScore.SecondPlayerScores.Games</td>
        </tr>
    </tbody>
</table>
